.footer-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer div {
  color: whitesmoke;
}
footer div a {
  margin-inline: 2em;
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}
footer div a p {
  display: inline;
}
footer div a:hover {
  color: #ff9253;
}

label {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.google-maps {
  border-radius: 1em;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

input {
  border-radius: 0.25em;
  border: transparent;
  padding: 3px;
  margin-left: 10px;
}

textarea {
  border-radius: 0.25em;
  border: transparent;
}

/* -- Google fonts--*/
@font-face {
  font-family: "electrocisko";
  src: url(../fonts/SF\ Electrotome\ Oblique.ttf) format("truetype");
}
body {
  background-color: darkkhaki;
}

.font_electrocisko {
  font-family: "electrocisko";
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.2em;
  color: #722f37;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
}

.titulo-logo {
  padding-top: 80px;
}

section h2 {
  text-align: center;
  padding-bottom: 0;
}

.fondo-container {
  background-color: darkkhaki;
  padding-bottom: 2%;
}

h1 {
  text-align: center;
  font-size: medium;
  margin-top: 0;
  padding-top: 0;
  color: black;
}

p {
  margin: 0.25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Para que el header no me tape las anclas googlee y aplique psuedo selector https://www.solucionex.com/blog/anclas-con-barra-de-navegacion-fixed */
.ancla::before {
  display: block;
  content: " ";
  margin-top: -4em;
  height: 4em;
  visibility: hidden;
}

.logo {
  font-family: "electrocisko";
  color: orange !important;
}

.imagenes-precios {
  border-radius: 0.5em;
  box-shadow: 10px 5px 5px black;
}

div div button {
  margin-top: 10px;
}

.contenedor-imagen-precios {
  width: 100%;
  height: auto;
}

.centrar-carusel {
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  border: solid var(--colorLogoMarron) 1px;
  border-radius: 0.25em;
}

.carusel {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  /*---------Grid Precios- Responsive----------------*/
  .imagenes-precios {
    display: none;
  }

  /*-----------Fin Grid Precio responsive------------*/
  /*-- Contacto responsive----*/
  .formulario {
    display: none;
  }

  .google-maps {
    display: none;
  }

  /*--fin contacto--*/
  /*-- Header--*/
  .titulo-logo {
    padding-top: 100px;
  }

  /* Este es para que el navbar no me tape el texto*/
  .ancla::before {
    display: block;
    content: " ";
    margin-top: -20em;
    height: 20em;
    visibility: hidden;
  }

  /* Se juntan los vinculos sociales para que no rompan el footer */
  footer div a {
    margin-inline: 1em;
  }
}
.contenedor-principal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contenedor-principal .section-contenedor {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  background: #ebe5e3;
  background: linear-gradient(90deg, #ebe5e3 22%, rgba(185, 185, 170, 0.5662640056) 87%);
  border-radius: 0.5em;
}
.contenedor-principal .section-contenedor .imagen-contendor {
  width: 30em;
  transition: 2s;
}
.contenedor-principal .section-contenedor .imagen-contendor img {
  width: 100%;
  border-radius: 0.5em;
}
.contenedor-principal .section-contenedor .parrafo-imagen-contenedor {
  text-align: center;
  padding-top: 1em;
}

/*# sourceMappingURL=style.css.map */
