@import '../base/variables';

.imagenes-precios {
   
    border-radius: 0.5em;
    box-shadow: 10px 5px 5px black;
        
}



div div button {
    margin-top: 10px;
}

.contenedor-imagen-precios {
    width: 100%; 
  height: auto;
}