@import '../base/variables';

.imagenes-precios {
   
    border-radius: 0.5em;
    box-shadow: 10px 5px 5px black;
        
}

.imagen-texto-contenedor {
    position: relative;
}

div div button {
    margin-top: 10px;
}

