@import '../base/variables';

.imagenesPrecios {
   
    border-radius: 0.5em;
    box-shadow: 10px 5px 5px black;
        
}

.imagen-texto-contenedor {
    position: relative;
}

div div button {
    margin-top: 10px;
}

.texto-sobre-imagen {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    color: $colorLogoNaranja;
    border: solid $colorLogoMarron;
    border-radius: 0.25em;
    padding: 0.5em;
    background-color: black;
}



.contenedor-imagen-precios:hover .texto-sobre-imagen {
    display: block;
}