.centrar-carusel{
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner {
    border: solid var(--colorLogoMarron) 1px;
    border-radius: 0.25em;
}

.carusel {
    margin-top: 5px;
    margin-bottom: 5px;
}

.imagen-carousel {
    aspect-ratio: attr(1385px) / attr(779px);
  }